/* .contactHero{
     height: 500px;
     background: url("../../images/coup.png") center/cover no-repeat;
     display: flex;
     align-items: center;
     justify-content: center;
   }

.contactHero::after{
     content: '';
     position: absolute;
     top: 65px;
     width: 100%;
     height: 500px;
     background-color: rgb(14 0 0 / 31%);
}

.mr-4{
  margin-right: 2rem;
} */